<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand text-white home">{{user.name}}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="padding-top: 56px; background-color: #dadada; height: -webkit-fill-available; width: 100%;">
  <div *ngIf="user.isAdmin">
    <div class="row btn-list-admin">
      <div class="buttons" style="">
        <button (click)="fetchClients()" class="fetch-client-btn">
          Cliente
        </button>
        <button (click)="registerNewClient()">
          Registrar Novo Cliente
        </button>
      </div>
    </div>
    <div *ngIf="isListClient">
      <div class="list-client-div">
        <div class="client-list-title">
          <span>Lista de Clientes</span>
        </div>
        <p-table [value]="userList">
          <ng-template pTemplate="header">
            <tr>
              <th class="client-name">Nome</th>
              <th class="client-email">Email</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr class="body-tr">
              <td (click)="fetchAlbum(user)">{{user.name}}</td>
              <td (click)="fetchAlbum(user)">{{user.email}}</td>
              <td class="td-remove-btn"><button class="remove-btn" (click)="removeUser(user)"><span class="font-weight: 600;">X</span></button></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="no-customer" colspan=2>Não há clientes cadastrados</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div *ngIf="isRegister">
      <form [formGroup]="newUserForm" class="new-user-form">
        <div style="padding-bottom: 0;">
          <label>Nome:</label>
          <input class="form-control flex-fill mr-1" formControlName="name">
        </div>
        <div>
          <label>Email:</label>
          <input class="form-control flex-fill mr-1" formControlName="email">
        </div>
        <div>
          <label>Senha:</label>
          <input type="password" class="form-control flex-fill mr-1" formControlName="password">
        </div>
        <div>
          <label>Confirme a senha:</label>
          <input type="password" class="form-control flex-fill mr-1" formControlName="confirmPass">
        </div>
        <div>
          <button [disabled]="!newUserForm.valid" class="btn btn-success btn-lg btn-block register-btn" (click)="register()">Entrar</button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="isGallery">
    <div *ngIf="user.isAdmin" class="row is-gallery">
      <div class="col">
        <button (click)="returnToClients()" class="remove-styles">
          <i class="fa fa-arrow-left"></i>
          Retornar para lista de clientes
        </button>
      </div>
      <div class="col selected-username">
        <span>{{selectedUser.name}}</span>
      </div>
      <div class="col">
        <button *ngIf="!uploadPhoto" (click)="uploadPhotos()" class="remove-styles">
          Upload de imagens</button>
        <button *ngIf="uploadPhoto" (click)="galleryPhotos()" class="remove-styles">Retornar
          para galeria</button>
      </div>
    </div>
    <div *ngIf="!uploadPhoto">
      <ks-modal-gallery [id]="0" [modalImages]="images" [plainGalleryConfig]="plainGalleryRow"></ks-modal-gallery>
    </div>
    <div *ngIf="uploadPhoto" class="uploader">
      <!-- (onSelect)="storeInFiles($event)" -->
      <!-- <p-fileUpload multiple="multiple" accept="image/*" mode="advanced" customUpload="true" (uploadHandler)="storeInFiles($event)">
        <ng-template pTemplate="content">
          <ul>
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload> -->

      
      <!-- [class]="'customClass'" -->
      <button class="upload-btn" [disabled]="files.length === 0">FAZER UPLOAD</button>
      <image-upload
        [buttonCaption]="'Selecione as imagens'"
        [dropBoxMessage]="'Arraste as imagens aqui.'"
         [extensions]="['jpg','jpeg','png']"
        (uploadFinished)="onUploadFinished($event)"
        >
      </image-upload>
    </div>
  </div>
</div>