<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand text-white home">Jack Silverspoon</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="padding-top: 56px; background-color: #dadada; height: -webkit-fill-available; width: 100%;">
  <!-- <div *ngIf="user.isAdmin"> -->
  <div class="row" style="margin: 0; border-bottom: 1px solid black">
    <div class="buttons" style="padding-left: 75px;">
      <button (click)="fetchClients()" style="margin-right: 20px;">
        Cliente
      </button>
      <button (click)="registerNewClient()">
        Registrar Novo Cliente
      </button>
    </div>
  </div>
  <div *ngIf="isRegister">
    <form [formGroup]="newUserForm" style="margin: 0 auto; width: 400px; padding-top: 50px;">
      <div style="padding-bottom: 0;">
        <label>Nome:</label>
        <input class="form-control flex-fill mr-1" formControlName="name">
      </div>
      <div>
        <label>Email:</label>
        <input class="form-control flex-fill mr-1" formControlName="email">
      </div>
      <div>
        <label>Senha:</label>
        <input type="password" class="form-control flex-fill mr-1" formControlName="password">
      </div>
      <div>
        <label>Confirme a senha:</label>
        <input type="password" class="form-control flex-fill mr-1" formControlName="confirmPass">
      </div>
      <div>
        <button [disabled]="!newUserForm.valid" class="btn btn-success btn-lg btn-block register-btn" (click)="register()">Entrar</button>
      </div>
    </form>
  </div>
</div>
<!-- <p-fileUpload name="" customUpload="true"></p-fileUpload> -->
<!-- </div> -->
<!-- <ks-modal-gallery [modalImages]="images" [plainGalleryConfig]="plainGalleryRow"></ks-modal-gallery> -->