<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand text-white home" (click)="goTo('header')">Twin Lens Photography</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="goTo('about')">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goTo('contact')">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Área do
                        Cliente</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" id="header">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <span class="text-uppercase">Twin Lens Photography</span>
        </div>
    </div>
</header>
<section id="about" class="projects-section bg-light">
    <div class="container">
        <div class="row no-gutters mb-5 mb-lg-0">
            <div>
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 text-center text-lg-left">
                            <h2 class="text-white text-center text-uppercase">As Gêmeas</h2>
                            <h6 class="text-white text-center text-uppercase">e suas lentes</h6>
                            <img class="img-fluid misty" src="../../assets/image/photo.jpeg" alt="">
                            <p class="mb-0 text-white-50">Olá, somos Isabelle e Gabrielle, conhecidas também como Isa e
                                Gabe ou apenas, "as gêmeas". Somos duas irmãs explorando diversos Mundos através de
                                nossas lentes. Sim, mundos, o plural, é dentro dessa palavra onde encontramos uma vasta
                                possibilidade de retratar os diferentes sentimentos, as diferentes rotinas, pessoas,
                                sentidos e acontecimentos.</p>
                            <br>
                            <p class="mb-0 text-white-50">Amamos qualquer coisa fora do comum, excêntrica,
                                encantadoramente peculiar e ao mesmo
                                tempo apreciamos o genuíno, o natural e o real.</p>
                            <br>
                            <p class="mb-0 text-white-50">
                                Dois pontos de vista diferentes sincronizados pelo mesmo objetivo: a imersão nessa
                                atmosfera mágica e sincera da fotografia.</p>
                            <br>
                            <p class="mb-0 text-white-50">Tudo isso nos define, esta é a nossa paixão, nosso dia-a-dia,
                                nossa vida.<br>
                                Dessa paixão surgiu uma ideia e dessa ideia se fez Twin Lens, ou Lente Gêmeas,
                                simpáticas câmeras do século passado, com duas lentes interligadas por uma engrenagem,
                                traduzindo poeticamente a relação de irmãs e profissionais. As duas se completam e
                                somente assim funcionam.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="email-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <h2 class="mb-5 text-uppercase">vamos marcar um café?</h2>
                <h6 class="mb-5 text-uppercase">só mandar uma mensagem por aqui</h6>
                <form [formGroup]="emailForm" class="">
                    <div class="d-flex mb-2">
                        <input type="email" class="form-control flex-fill mr-1" id="inputEmail" formControlName="email"
                            placeholder="SEU EMAIL">
                        <input type="text" class="form-control flex-fill ml-1" id="inputEmail" formControlName="subject"
                            placeholder="SEU ASSUNTO">
                    </div>
                    <textarea type="text" class="form-control flex-fill mb-2" id="textAreaContent" formControName="content"
                        placeholder="CONTE PRA GENTE O QUE PROCURA..."></textarea>
                    <button type="submit" class="btn btn-outline-secondary btn-lg send-btn">ENVIAR</button>
                </form>

            </div>
        </div>
    </div>
</section>
<section class="contact-section bg-black">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="#">hello@yourdomain.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Telefone</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">+55 (41) 99999-9999</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a href="#" class="mx-2">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    </div>
</section>