<div class="main-div">
  <div style="all: unset;">
    <app-error></app-error>
  </div>
  <div class="form-div">
    <form [formGroup]="loginForm">
      <div style="padding-bottom: 0;">
        <label>Email:</label>
        <input class="form-control flex-fill mr-1" type="text" formControlName="email">
      </div>
      <div>
        <label>Senha:</label>
        <input class="form-control flex-fill mr-1" type="password" formControlName="password">
      </div>
      <div>
        <button class="btn btn-success btn-lg btn-block" (click)="submit()">Entrar</button>
        <button class="btn btn-danger btn-lg btn-block" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>