button {
    padding: 12px;
}

.main-div{
    padding-top: 200px;
    background-color: #dadada;
    height: -webkit-fill-available;
    width: 100%;
}

.form-div{
    padding: 15px;
    height: 328px;
    width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;

    & div {
        padding: 15px;
    }
}