.error-div{
    min-width: 400px;
    background: red;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    padding: 5px 0px;
    color: white;
    font-weight: bold;
}
